@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

h1, h2, h3{

    font-family: 'Open Sans', sans-serif;

}

.container-fluid{
    width: 100%;
    /* background-color: grey; */
}

#title h1{

    padding-left: 15%;
    padding-right: 15%;
    font-weight: 1em;
}


.jumbotron-fluid{
    color: white;
    background: linear-gradient(182deg, #ff6f59, #ff6b6b);


    -webkit-animation: AnimationName 43s ease infinite;
    -moz-animation: AnimationName 43s ease infinite;
    animation: AnimationName 43s ease infinite;

    background-size: 400% 400%;


    height: 30em;
    border: 1px solid #EEEEEE;

}

.jumbotron-fluid h1, h2, h3{

}

#post_container{
    margin-top: 30px;
    padding-left: 30%;
    padding-right: 30%;
}


#post_container #post{
    /* background-color: red; */
}
