 @-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

h1, h2, h3{

    font-family: 'Open Sans', sans-serif;

}
#splash_subtext{
    font-size: 2em;
}

#splash2{
    height: 25vh;
    min-height: 100px;
    background-color: transparent;
    background-image: url("/images/card-1.jpg");
}
