h1{

    font-family: 'Hind', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h3{
    font-family: 'Palanquin', sans-serif;
}

p{
    font-family: 'Open-Sans', sans-serif;
}



.container-fluid{
    width: 100%;
    /* background-color: grey; */
}

#title h1{
    /* padding-left: 15%;
    padding-right: 15%; */
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: white;
}

/* The progress bar (scroll indicator) */
#myBar {
  height: 8px;
  background: #5E7CE2;
  opacity: 1;
  width: 0%;
}
#post_container{
    margin-top: 10px;
    /* padding-left: 22%;
    padding-right: 22%; */

}
#post_container #heading{
    margin-bottom: 2.5em;


}
#post_container #heading h1{
    font-size: 3.8em;
    font-style: bold;
}



#post_container #paragraph{

    margin-bottom: 1.5em;
}

#post_container #paragraph h3{

    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
}











#post_container pre{
    /* background-color: red; */
    /* width: 100px;
    height: 100px; */
    /* font-size: 1em; */
    /* background-color: #4F5D75; */
    /* font-family: 'Open Sans', sans-serif; */
}
#post_container #math h3, h2{
    font-size: 1.5em;
}

#status{
    margin-top: 1em;
}

#status span{
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
}

#status p
{
    font-family: 'Poppins', sans-serif;
}


#classification_image{
    object-fit: contain;
    height: 15em;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/images/animal_classification.png");
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
}





#post_container #table{
    max-width: 1000px;
    margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

container h3 {
    font-size: 1.5em;
}



#runnable {
    /* margin-top: 30px;
    padding-left: 22%;
    padding-right: 22%; */


}
.thebelab-cell {
  font-family:
  max-width: 80ex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;


}

.thebelab-cell {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Source Code Pro', monospace;
}
.thebelab-cell:focus-within {
  border-color: green;
}


.jp-OutputArea > :first-child {
  padding-top: 0.5em;
  border-top: 1px solid #aaa;
}

.CodeMirror-scroll {
  height: auto;
}

.CodeMirror {
  background-color: transparent;
}


.CodeMirror.CodeMirror-focused {
  background-color: transparent;
}

/* no prompts */
.jp-OutputPrompt {
  display: none;
}

.thebelab-button.thebelab-run-button{
    font-family: 'Open Sans', sans-serif;
    /* border-radius: 15px; */
    font-size: 1em;

   border-style: solid;

}

.thebelab-button.thebelab-restart-button{
    /* border-radius: 15px; */
    font-family: 'Open Sans', sans-serif;
}



.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: flex;
  width: 100%;
  background: #4472CA;
  padding: 1px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 5px 0;
}
.table-row:nth-of-type(odd) {
  background: #CFDEE7;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: '';
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: '(desc)';
}
.filter__link.asc::after {
  content: '(asc)';
}





@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");
.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
  font-size: 1rem;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

footer{
    margin-top: 2em;
    background-color: #5E7CE2;

}

footer a {
    color: white;
}
